<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
      <img src="/dollar.png" alt="USD icon">
      <h4>USD</h4>
      <p>Current rate</p>
      <p id="usd-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/euromaidan.png" alt="EURO icon">
      <h4>EURO</h4>
      <p>Current rate</p>
      <p id="eur-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/funt.png" alt="GBP icon">
      <h4>GBP</h4>
      <p>Current rate</p>
      <p id="gbp-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/frank.png" alt="CHF icon">
      <h4>CHF</h4>
      <p>Current rate</p>
      <p id="chf-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/won.png" alt="KRW icon">
      <h4>KRW</h4>
      <p>Current rate</p>
      <p id="krw-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/rupi.png" alt="INR icon">
      <h4>INR</h4>
      <p>Current rate</p>
      <p id="inr-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/hrivna.png" alt="UAH icon">
      <h4>UAH</h4>
      <p>Current rate</p>
      <p id="uah-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/kitai.png" alt="CNY icon">
      <h4>CNY</h4>
      <p>Current rate</p>
      <p id="cny-rate">PLN: Loading...</p>
  </li>
  <li class="recipe">
      <img src="/kron.png" alt="SEK icon">
      <h4>SEK</h4>
      <p>Current rate</p>
      <p id="sek-rate">PLN: Loading...</p>
  </li>
</ul>

<script src="/currency.js"></script>
<%- include('partials/footer'); -%>
