<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="" alt="">
  </div>
  <div class="headings">
    <h2>Тут буде конвертация одного курса в другий</h2>
    <h3</h3>
    
  </div>
</header>


<%- include('partials/footer'); -%>